# 데이터 타입(data type)

데이터를 식별하는 분류로 데이터가 가질 수 있는 값을 결정하고 연산을 제어함

+ int : 소숫점을 갖지 않는 정수를 갖는 데이타 타입
+ float : 소숫점을 갖는 데이타 타입
+ bool : True 혹은 False 만을 갖는 타입
+ str : 단일인용부호(') 혹은 이중인용부호(") 를 사용하여 표현하는 문자, 단어 등으로 구성된 문자들의 집합

#### **type(변수명) : 변수의 타입 확인**

###[실습]1.다음과 같이 변수값이 저장되었을때 아래와 같이 출력되도록 코드를 작성하시오.  

x = 10  
y = 10.5  
z = True  
p = 'python'  

---
(출력)  
10의 데이터 타입 => <class 'int'>  
10.5의 데이터 타입 => <class 'float'>  
True의 데이터 타입 => <class 'bool'>  
python의 데이터 타입 => <class 'str'>

In [ ]:
#[실습]1. 정답을 작성하세요.
x = 10
y = 10.5
z = True
p = 'python'
print(f"{x}의 데이터 타입 =>", type(x))
print(f"{y}의 데이터 타입 =>", type(y))
print(f"{z}의 데이터 타입 =>", type(z))
print(f"{p}의 데이터 타입 =>", type(p))

#연산자
자료를 처리하기 위한 수식들을 결합하여 연산 동작을 수행하도록 하는 기호
+ **산술연산자**
 - 수학적 계산을 수행할 때 사용하는 연산자
 - 사칙연산자(+, -, *, /), 제곱(**), 나머지(%), 나누기 결과 정수(//)
+ **비교연산자(관계연산자)**
 - 비교할 때 사용하는 연산자
 - 등호(==), 같지 않음(!=), 부등호(<, >, <=, >=)
+ **논리연산자**
 - 주어진 논리식을 판단하여, 참(true)과 거짓(false)을 결정하는 연산자
 - and(논리곱), or(논리합), not
+ **할당연산자**
 - 변수에 값을 할당하기 위하여 사용하는 연산자
 - = (Equal Sign)
 - +=, -=, *=, /=, %=, //= : 산술연산자와 함께 사용되어 할당을 보다 간결히 하기 위해 사용

In [ ]:
#할당 연산자
x = 7
y = 3.5

#산술연산자
print(f'{x} + {y} = {x+y}')

#산술연산자와 함께 사용한 할당연산자
x = x + 10
x += 10
print(f'{x}')

#비교연산자
print(f'{x} > {y} = {x > y}')

#논리연산자
print(f'{x} > 5 or {y} > 5 = { x > 5 or y > 5}')

###[실습]2. 다음과 같이 변수값이 저장되었을때 아래와 같이 출력되도록 코드를 작성하시오.  

x = 10  
y = 2.5  

---
(출력)  
x + y = 12.5  
x > y  = True  
x > 5 or y > 5 = True

In [ ]:
# [실습]2. 정답을 작성하세요.
x = 10
y = 2.5
print('x + y =', x + y)
print('x > y =', x > y)
print('x > 5 or y > 5 =', x > 5 or y > 5)

#문자열 포매팅
#1. 문자열 포맷코드 사용   
1) 문자열 포맷코드 종류   
%s(문자열: 문자열로 변환), %c(문자),  
%d(정수),%f(실수),%o(8진수),%x(16진수),%%(%자체)  
```
"I eat %d apples." %3         # I eata 3 apples.
number = 10
day = "three"
"I eat %d apples. so I was sick for %s days." %(number,day)
#"I eat 10 apples. so I was sick for three days.
```

###[실습]3. 위 코드를 참고하여 [출력]예시와 같이 출력되도록 코드를 작성하시오.  
[출력]  

I eat 3 apples.  
I eat 10 apples. so I was sick for three days.

In [9]:
#[실습]3.정답코드를 작성하세요.
print("I eat %d apples." %3)         # I eata 3 apples.
number = 10
day = "three"
print("I eat %d apples. so I was sick for %s days." %(number,day))
#"I eat 10 apples. so I was sick for three days.

I eat 3 apples.
I eat 10 apples. so I was sick for three days.

   2) 정렬과 공백 : %숫자s (숫자만큼 자리를 확보: 오른쪽 정렬)
  

```
"%10s"       % "hi"  (10자리 확보하고 오른쪽 정렬)
"%-10sjane"  % "hi"  (10자리 확보하고 왼쪽 정렬)
```
   3) 소수점 표현
   ```
   "%0.4f" % 3.42134234 (소수점 4자리)
   "%10.4f" % 3.42134234 (10자리 확보후 소수점 4자리)
   ```

###[실습]4. 위 설명을 참고하여 아래와 같은 출력이 되도록 코드를 작성하시오.
[출력]
```
     hello
hello     busan
8.91347
      8.91
```

In [23]:
#[실습]4. 정답을 작성하세요.
print("%10s"%"hello")
print("%-10sbusan"  % "hello")
print("%0.5f"%8.91347)
print("%10.2f"%8.91347)
#  10자리 확보하고 오른쪽 정렬
#  10자리 확보하고 왼쪽 정렬
# 소수점 5자리 표현
# 10자리 확보후 소수점 2자리

     hello
hello     busan
8.91347
      8.91

#2. format함수를 사용한 포매팅
[사용법] "문자열 {인덱스1}문자열 {인덱스2}".format(값1, 값2)  
[사용법] "문자열 {변수1}문자열 {변수2}".format(변수1=값, 변수2=값)
```
#format함수를 사용한 포매팅
"I eat {0} apples".format(3)
"I eat {0} apples".format("five")
number = 3
"I eat{0} apples".format(number)
day = "three"
#인덱스 사용하기
"I eat {0} apples. so I was sick for {1} days.".format(number,day)
#변수  사용하기
"I eat {number} apples. so I was sick for {day} days.".format(number=5,day=3)
#인덱스와 변수이름으로 함께 사용
"I eat {0} apples. so I was sick for {day} days.".format(10, day=3)
```

###[실습]5. 위 예시를 참고하여 아래와 같은 [출력]결과가 되도록 코드를 작성하시오.  
[출력]  
```
I eat 3 apples
I eat five apples
I eat3 apples
I eat 3 apples. so I was sick for three days.
I eat 5 apples. so I was sick for 3 days.
I eat 10 apples. so I was sick for 3 days.
```

In [24]:
#[실습]5. 코드를 작성하세요.
# format함수를 사용한 포매팅

number = 3
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))
print("I eat{0} apples".format(number))
day = "three"
# 인덱스 사용하기
print("I eat {0} apples. so I was sick for {1} days.".format(number,day))

# 변수  사용하기
print("I eat {number} apples. so I was sick for {day} days.".format(number=5,day=3))

# 인덱스와 변수이름으로 함께 사용
print("I eat {0} apples. so I was sick for {day} days.".format(10, day=3))

I eat 3 apples
I eat five apples
I eat3 apples
I eat 3 apples. so I was sick for three days.
I eat 5 apples. so I was sick for 3 days.
I eat 10 apples. so I was sick for 3 days.

```
#소수점 표현하기
y=3.42134234
"{0:0.4f}".format(y)
"{0:10.4f}".format(y)
#{}문자표현하기
"{{and}}".format()
```

###[실습]6. 위 예시를 참고하여 아래와 같은 [출력]결과가 되도록 코드를 작성하시오.  
[출력]  
```
3.42
     3.421
{and}
```

In [26]:
#[실습]6.코드를 작성하세요.
# 소수점 표현하기
y=3.42134234
print("{0:0.2f}".format(y))
print("{0:10.4f}".format(y))
# {}문자표현하기
print("{{and}}".format())

3.42
    3.4213
{and}

##3. f-스트링  포매팅
**[사용법]&nbsp;  f'문자열{변수}문자열'**
```
age =30
f'나이는 {age+1}'
#딕셔너리
d ={'name':'홍길동','age':30}
f'이름은{d["name"], 나이는 {d["age"]}
#정렬 (:>,:<,:^)
f'{"hi":<10}'  #10자리 확보하고 왼쪽 정렬
f'{"hi":^10}'  #10자리 확보하고 가운데 정렬
f'{"hi":>10}'  #10자리 확보하고 왼쪽 정렬

```

###[실습]7. 위 예시를 작성하여 [출력] 결과가 출력되도록 코드를 작성하시오.  
[출력]  
```
나이는 31
이름은홍길동, 나이는 30
hi        
    hi    
        hi
```

In [30]:
#[실습]7. 코드를 작성하고 출력하시오.
age = 30
print(f'나이는 {age+1}')
#딕셔너리
d ={'name':'홍길동','age':30}
print(f'이름은{d["name"]}, 나이는 {d["age"]}')
#정렬 (:>,:<,:^)
print(f'{"hi":<10}')  #10자리 확보하고 왼쪽 정렬
print(f'{"hi":^10}')  #10자리 확보하고 가운데 정렬
print(f'{"hi":>10}')  #10자리 확보하고 왼쪽 정렬

나이는 31
이름은홍길동, 나이는 30
hi
    hi
        hi

```
#공백채우기
f'{"hi":=^10}'    #가운데 정렬하고 =로 채우기
f'{"hi":!<10}'    #왼쪽 정렬하고 !로 채우기
#소수점 표현
y=3.42134234
f'{y:0.4f}'
f'{y:10.4f}'  #총 자리수는 10
# {}문자표현하기
f'{{and}}'
```

###[실습]8. 위 예시를 작성하여 [출력] 결과가 출력되도록 코드를 작성하시오.  
[출력]  
```
====hi====
hi!!!!!!!!
3.4213
    3.4213
{and}
```

In [40]:
#[실습]8. 코드를 작성하세요.
print("====hi====")
print("%-s!!!!!!!!"%'hi')
print("%.4f"%3.4213)
print("%10.4f"%3.4213)
print(f"{{and}}")

====hi====
hi!!!!!!!!
3.4213
    3.4213
{and}

## **문자열 연산**
+ 문자열 더하기(+)
+ 문자열 곱하기(*)
+ 문자열 인덱싱
 -  문자열의 각 문자는 0부터 시작되는 인덱스를 가짐
 - [인덱스]를 이용하여 인덱스위치의 문자 추출 :  처음위치 [0], 마지막위치 [-1]
+ 문자열 슬라이싱
 - [인덱스1:인덱스2]: 인덱스1 위치에서 인덱스2 -1 위치까지 잘라냄
 - [인덱스1:] : 인덱스1 위치에서 끝까지 잘라냄
 - [: 인덱스2] : 처음부터 인덱스2 -1 위치까지 잘라냄

###[실습]9. 아래와 같이 문자열 연산을 했을 경우 코드를 작성하고 결과를 확인해 보자.

```
z= "Busan software meister highschool"
print("="*50)
 z[1]
 z[2:4]
 z[2:]
 z[:5]
```
[출력]  
```
==================================================
u
sa
san software meister highschool
Busan
```

In [42]:
#[실습]9. 코드를 작성하세요.
z= "Busan software meister highschool"
print("="*50)
print(z[1])
print(z[2:4])
print(z[2:])
print(z[:5])

==================================================
u
sa
san software meister highschool
Busan

###[실습]10. 아래와 같은 문자열이 있을때 아래와 같은 출력결과가 나오도록 코드를 작성하시오.
('='은 50번 출력)
---
[출력]  
Hello Python!  

==================================================  
Hello Python!의 두번째 문자 => e  
Hello Python!의 두번째 부터 세번째 문자 => el  
Hello Python!의 두번째 부터 마지막 문자 => ello Python!  
Hello Python!의 처음부터 세번째 문자 => Hel

In [48]:
#[실습]10. 정답코드를 작성하세요.
x = "Hello "
y = "Python!"
s = x + y
print('='*50)
print(f'{s}의 두번째 문자 => {s[1]}')
print(f'{s}의 두번째 부터 세번째 문자 => {s[1:3]}')
print(f'{s}의 두번째 부터 마지막 문자 => {s[1:]}')
print(f'{s}의 처음부터 세번째 문자 => {s[:3]}')

==================================================
Hello Python!의 두번째 문자 => e
Hello Python!의 두번째 부터 세번째 문자 => el
Hello Python!의 두번째 부터 마지막 문자 => ello Python!
Hello Python!의 처음부터 세번째 문자 => Hel