# 1307 방세준
# 딕셔너리(dictionary)
+ **특징**
 - 키(key)와 값(value) 쌍을 요소로 가짐
 - 중괄호({})로 작성되며 각 요소는 쉼표(,)로 구분
 - 순서 없음
 - 키는 변경할 수 없으며 값은 변경가능

##생성 및 기본 함수   
   **1. 딕셔너리 선언**
  - 딕셔너리변수 = { }
  - 딕셔너리변수 =dict( )
  - 딕셔너리변수 = {키:값}  


 **2. 딕셔너리 요소 추가**
  - 딕셔너리명[추가키]=값
  

 **3. 딕셔너리 요소 삭제**
  - del 딕셔너리명[키]
  - 딕셔너리명.pop[키]


 **4. 딕셔너리 요소 수정**
  - 딕셔너리명[키]=값

##**딕셔너리 접근**
 - 특정 요소 값 : 딕션너리명[키]
 - 요소 키 컬렉션  : 딕셔너리명.keys()
 - 요소 값 컬렉션 : 딕셔너리명.values()
 - 키와 요소 컬렉션은 list() 생성자로 리스트로 변환가능


##주의 사항
+ 동일한 key가 존재할 경우 하나를 제외한 나머지값은 무시된다.(중복 하지 말것)
+ Key에 변하는 값인 List는 쓸수 없고, 튜플은 Key로 사용 가능함.
+ 값에는 컬렉션 타입 모두 가능함.
 ```
 a ={[1,2]:'hello'}  # 오류
 a ={(1,2): 'hi'}    # 사용 가능
```

In [ ]:
#빈 딕셔너리 선언
dt1 = {}
dt2 = dict()
#딕셔너리 선언 및 할당
dt = {'a':200, 'b':150, 'c':100}
print(dt1,dt2,dt)
#딕셔너리 요소 추가
dt['d'] = 30
print(dt)
dt['e']=40
print(dt)

###[실습]1. dict1, dict2에 빈 딕셔너리 변수를 선언하고, dict3변수에,  'c':[1,2,3] 요소를 추가한 다음, dict1,dict2,dict3를 출력하시오.
```
dict3 = {1:2, 'b':'hi'}
```

In [1]:
##[실습]1. 정답을 작성하세요.
dict1 = {}
dict2 = dict()
dict3 = {1:2, 'b':'hi', 'c':[1, 2, 3]}
print(dict1, dict2, dict3)

{} {} {1: 2, 'b': 'hi', 'c': [1, 2, 3]}

In [5]:
#딕셔너리 접근
dt = {'a':200, 'b':150, 'c':100}
print(f'딕션너리 a 값 : {dt["a"]}')
print(f'딕셔너리 b값 : {dt["b"]}')
#딕셔너리 요소 삭제
del dt['c']
print(dt)
#딕셔너리 수정
dt['a'] = 300
print(dt)

딕션너리 a 값 : 200
딕셔너리 b값 : 150
{'a': 200, 'b': 150}
{'a': 300, 'b': 150}

In [9]:
#딕션너리 키
dt = {'a':200, 'b':150, 'c':100}
print(dt.keys())
print(type(dt.keys()))

#딕셔너리 값
print(dt.values())
print(type(dt.values()))

#list로 출력
print(list(dt.keys()))
print(list(dt.values()))

dict_keys(['a', 'b', 'c'])
<class 'dict_keys'>
dict_values([200, 150, 100])
<class 'dict_values'>
['a', 'b', 'c']
[200, 150, 100]

###[실습]2. dict1를 아래 조건에 맞게 출력하시오.
1) dict1에 대해서 요소를 삭제, 수정하여 아래 [출력] 과 같이 출력하시오.  
2) dict1의 키를 추출해서 리스트로 출력하시오.  
3) dict1의 값들을 추출해서 리스트로 출력하시오.
```
dict1 = {1:2, 'b':'hi', 'a':[4,5,6], 'c':100}
```
[출력]  
```
{'b': 'hi', 'a': [1, 2], 'c': 100}
['b', 'a', 'c']
['hi', [1, 2], 100]
```

In [8]:
##[실습]2. 정답을 작성하세요.
dict1 = {1:2, 'b':'hi', 'a':[4,5,6], 'c':100}
del dict1[1]
dict1['a'] = [1, 2]
print(dict1)
print(list(dict1.keys()))
print(list(dict1.values()))

{'b': 'hi', 'a': [1, 2], 'c': 100}
['b', 'a', 'c']
['hi', [1, 2], 100]

# 집합(set)
+ **특징**
 - **중복 없는 요소로만 구성**
 - **중괄호({ })** 작성되며 각 요소는 쉼표(,)로 구분
 - 순서 없음

##생성 및 기본 함수   
   **1. 집합 선언**
  - 집합변수 = { }
  - 집합변수 = set()

**2. 집합 요소 추가**
 - 집합명.add(요소) : 하나의 요소 추가
 - 집합명.update(추가집합) : 여러 요소를 추가
  
**3. 집합 요소 삭제**
 - 집합명.remove(요소값) : 하나의 요소 삭제
 - 집합명.clear() : 모든 요소 삭제


**집합 연산**
 - 교집합 : &
 - 합집합 : |
 - 차집합 : -

###[실습]3. 아래 조건에 맞게 출력하시오.
1) lst1의 요소를 중복을 제거하고, 리스트 자료형으로 출력하시오.  
2) tp1의 요소 중복을 제거하고 내림차순으로 정렬하여 리스트 자료형으로 출력하시오.  

```
list1 =[7,7,7,8, 1,1,1,2,2,2,3,5,6,]
tp1 = (1,2,2,2,4,6,8,9)

```
[출력]  
```
[1, 2, 3, 5, 6, 7, 8]
[9, 8, 6, 4, 2, 1]
```

In [11]:
#[실습] 3. 정답을 작성하세요.
list1 =[7,7,7,8, 1,1,1,2,2,2,3,5,6,]
tp1 = (1,2,2,2,4,6,8,9)
l = list(set(list1))
r = sorted(list(set(tp1)), reverse=True)
print(l)
print(r)

[1, 2, 3, 5, 6, 7, 8]
[9, 8, 6, 4, 2, 1]

In [ ]:
#집합
a = (1, 2, 2, 3)
b = [10, 20, 30, 30]

In [13]:
#
a = (1, 2, 2, 3)
b = [10, 20, 30, 30]
print(f'{a}의 type : {type(a)}')
a = set(a)
print(f'{a}의 type : {type(a)}')

print(f'{b}의 type : {type(b)}')
b = set(b)
print(f'{b}의 type : {type(b)}')

(1, 2, 2, 3)의 type : <class 'tuple'>
{1, 2, 3}의 type : <class 'set'>
[10, 20, 30, 30]의 type : <class 'list'>
{10, 20, 30}의 type : <class 'set'>

###[실습]4. 아래와 같은 변수가 저장되어 있을때 조건에 맞게 출력하는 코드를 작성하시오.
[조건]  
1. a에 100을 추가하시오.  
2. b에 {100,200,300}을 추가하시오.
3. a에 1을 제거하시오.
4. 집합 a의 모든 요소를 삭제하시오.  
[출력]  
```
{1, 2, 3, 100}
{20, 100, 200, 10, 300, 30}
{2, 3, 100}
set()
```

In [16]:
#[실습]4. 정답코드를 작성하세요.
a = {1, 2, 3}
b = {10, 20, 30}
#a에 100을 추가하시오.
a.add(100)
print(a)
#b에 {100,200,300}을 추가하시오.
b.update({100, 200, 300})
print(b)
#a에 1을 제거하시오.
a.remove(1)
print(a)
#집합 a의 모든 요소를 삭제하시오.
a.clear()
print(a)

{1, 2, 3, 100}
{20, 100, 200, 10, 300, 30}
{2, 3, 100}
set()

###[실습]5. 아래와 같은 변수가 저장되어 있을때 a집합, 교집합, 합집합, 차집합을 출력하는 코드를 작성하시오.
```
a = {1, 2, 3, 100, 500, 200}
b = {20, 100, 200, 10, 300, 30}
```
[출력]  
```
a집합 = {1, 2, 3, 100, 200, 500} , b집합 = {100, 20, 200, 10, 300, 30}
교집합 = {200, 100}
합집합 = {1, 2, 3, 100, 200, 10, 300, 500, 20, 30}
차집합 = {1, 2, 3, 500}
```

In [14]:
#[실습]5. 정답을 작성하세요.

a = {1, 2, 3, 100, 500, 200}
b = {20, 100, 200, 10, 300, 30}

print(f'a집합 = {a}, b집합 = {b}')
print('교집합 =', a & b)
print('합집합 =', a | b)
print('차집합 =', a - b)

a집합 = {1, 2, 3, 100, 500, 200}, b집합 = {100, 20, 200, 10, 300, 30}
교집합 = {200, 100}
합집합 = {1, 2, 3, 100, 200, 10, 300, 500, 20, 30}
차집합 = {1, 2, 3, 500}

# 컬렉션 데이터
+ 컬렉션 데이터 모든 요소에 접근
+ `for 요소변수 in 컬렉션명 `:


### **zip()**
+ 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수

In [17]:
#컬렉션 요소 접근
lst = [10,50,30]
tp = ('a','b','c')

for item in lst :
    print(item, end=' ')
print()
#tp의 요소  한줄로 모두 출력하시오.

#딕션너리 만들기
dt = dict(zip(tp,lst))
print(dt)

# 딕셔너리 키값 한줄씩 출력 확인하시오.
for item in dt :
    print(f'{item} => {dt[item]}')

#딕셔너리 키값을 반대로 생성하시오.
dt = dict(zip(lst, tp))
# 딕셔너리 키값 한줄씩 출력 확인하시오.
for item in dt :
    print(f'{item} => {dt[item]}')

10 50 30
{'a': 10, 'b': 50, 'c': 30}
a => 10
b => 50
c => 30
10 => a
50 => b
30 => c

###[실습]5. lst, tp에 아래와 같이 저장되어 있을때 두 변수를 이용하여 딕셔너리 변수를 만들고 [출력] 예시와 같이 출력하는 코드를 작성하시오.  
lst = [10,20,30,40]  
tp = ('a','b','c','d')  
[출력]  
```
{10: 'a', 20: 'b', 30: 'c', 40: 'd'}
10 => a
20 => b
30 => c
40 => d

```

In [20]:
#[실습]5. 정답코드를 작성하시오.
lst = [10,20,30,40]
tp = ('a','b','c','d')

dt = dict(zip(lst, tp))
print(dt)
for i in dt:
    print(f'{i} => {dt[i]}')

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}
10 => a
20 => b
30 => c
40 => d

## 내장함수
+ **len(컬렉션명)**
 - 컬렉션 요소 개수
+ **max(컬렉션명)**
 - 가장 큰 요소 값 반환
 - 딕션너리인 경우는 키 값 중 가장 큰 요소 반환
+ **min(컬렉션명)**
 - 가장 작은 요소 값 반환
 - 딕션너리인 경우는 키 값 중 가장 작은 요소 반환
+ **sum(컬렉션명)**
 - 수치 요소로 이루어진 컬렉션 요소의 합
 - 딕션너리인 경우는 키 값의 합
+ **sorted(컬렉션명)**
 - 컬렉션요소 정렬
 - 딕션너리인 경우는 키 값을 정렬하여 키 리스트 반환

In [22]:
#내장함수를 적용하여 출력해 보자.
lst = [50,10,20,30,40]
tp = ('a','b','c','d')
print(f'{lst}의 요소 개수 : {len(lst)}')
print(f'{lst}의 최대값 : {max(lst)}')
print(f'{lst}의 최소값 : {min(lst)}')
print(f'{lst}의 합계 : {sum(lst)}')
print(f'{lst}의 정렬 : {sorted(lst)}')
print(lst)

[50, 10, 20, 30, 40]의 요소 개수 : 5
[50, 10, 20, 30, 40]의 최대값 : 50
[50, 10, 20, 30, 40]의 최소값 : 10
[50, 10, 20, 30, 40]의 합계 : 150
[50, 10, 20, 30, 40]의 정렬 : [10, 20, 30, 40, 50]
[50, 10, 20, 30, 40]



---
[실습]6.
기상청에서 제공하는 3월 1일에서 3월 31일까지의 평균기온 정보입니다.
[출력]과 같이 출력되도록 코드를 작성하시오.(단, 평균기온이 동일한 날은 없음)

```
[출력]
평균기온 :10.44 ℃
최고기온 :14.5 ℃
최저기온 :5.1
```

---

In [23]:
#[실습]6. 정답을 작성하세요.
temp = [10.8, 8.5, 8.7, 7.9, 5.1,
        8.1, 8.2, 10.4, 11, 9.9,
        7.8, 9.5, 11.6, 8.2, 7.7,
        6.6, 11.1, 12.2, 12.6, 10.4,
        13.7, 14.1, 12.6, 11.5, 13,
        14.5, 13.7, 9.4, 10.4, 11.6, 12.9]

print(f'{sum(temp)/len(temp):.2f}')
print(max(temp))
print(min(temp))

10.441935483870964
14.5
5.1



---

[실습]7.

기상청에서 제공되는 공공데이터 입니다.
https://data.kma.go.kr/stcs/grnd/grndTaList.do?pgmNo=70
기상청 공공데이터 사이트에서 2023년 1월에서 12월까지 부산평균기온을 조사해서 2023년의 전체 평균기온을 구할수 있다. 아래와 같은 기온 데이터가 주어졌을때 평균기온을 구해서 출력하시오.  
[출력]  
```
평균기온 :16.15 ℃
```
---

In [26]:

atemp=[6.4, 7.1, 10.4, 12.6, 17.9, 22.4, 22.1, 27.2, 21.9, 17.3, 12.4]

print(f'평균기온 :{sum(atemp)/len(atemp):.2f} ℃')

평균기온 :16.15 ℃